body{
    background-color: rgb(255, 237, 196);
}

header{
    /* font-size: 50px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin-top: 1em;
    text-align: center;
}

form {
    display: block;
}


.card{
    margin-left: 110px;
    margin-right: 110px;
    box-shadow: 4px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.card-body{
    line-height: 3em;
}



footer{
    text-align: center;
    margin-top: 1em;
}

img{
    width: 100%;
    height: 500px;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
  }

