body{
    background-color: rgb(255, 237, 196);
}

header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin: 1em auto;
    text-align: center;
}

form, .btn-square {
    display: inline-block;
    text-transform: uppercase;
}

p {
    font-size: 15px;
}

footer{
    text-align: center;
    margin-top: 1em;
}

img{
    width: 100%;
    height: 500px;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}

#weatherIcon {
    height: 50px;
    width: 50px;
}

.card{
    margin-left: 110px;
    margin-right: 110px;
    box-shadow: 4px 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.card-body{
    line-height: 3em;
}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
  }
  .btn-square:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
  }

